.container {
  margin: 0.5rem;
  img {
    // filter: saturate(4.5);
    // width: 50%;
    max-width: 300px;
  }
}
.title {
  font-size: 3rem;
}

.date {
  font-size: 6rem;
}

.author {
  // text-align: right;
  font-size: 2rem;

  div {
    // flex: 1 0 auto;
  }
}

.content {
  // margin-top: -5rem;
  // font-size: 3rem;
}

@media screen and (min-width: 768px) {
  .container {
    img {
      // margin-right: 4rem;
      max-width: 300px;
    }
  }
}

img::selection,
h1::selection,
div::selection,
p::selection {
  background: rgb(255, 38, 38);
  opacity: 0.5;
}
