.container {
  margin: 0.5rem;
}
.title {
  font-size: 5rem;
}

.date {
  font-size: 6rem;
}

.author {
  text-align: right;
  font-size: 6rem;

  div {
    flex: 1 0 auto;
  }
}

img {
  filter: saturate(4.5);
}

.content {
  margin-top: -5rem;
  font-size: 3rem;
}

@media screen and (min-width: 768px) {
  img {
    margin-right: 4rem;
  }
}

img::selection,
h1::selection,
div::selection,
p::selection {
  background: rgb(255, 38, 38);
  opacity: 0.5;
}
