@font-face {
  font-family: Gotham-Medium;
  src: url("./Gotham-Medium.woff");
}
body {
  font-family: Gotham-Medium;
  margin: 0;
}
.link {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
}

.whatever {
  font-size: 50px;
  overflow-wrap: break-word;
  width: 90%;
  margin: auto;
  cursor: pointer;
}
