.container {
  display: flex;
  flex-wrap: wrap;
}

.track-wrap {
  font-size: 6rem;
  margin: 5px;
  border-bottom: 30px solid black;
  cursor: pointer;
}

.track-name {
  font-size: 5rem;
}

.play-button {
  background: none;
  border: none;
  border-bottom: 1px solid black;
  font-size: 4rem;
  position: fixed;
  right: 2%;
  opacity: 0.6;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}
