.container {
  // display: flex;
  position: relative;
  display: grid;
  // grid-template-columns: 1fr 1fr;
  margin: auto;
  margin-top: 80px;
  &:first-of-type {
    margin-top: 20px;
  }
  img {
    margin: auto;
    display: block;
    opacity: 0.9;
    filter: saturate(4.5);
  }
  cursor: pointer;
}

.first-box {
  margin: auto;
  text-align: center;
  // margin-right: 10px;
}

.title {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 24px;
}

.date {
  font-size: 2rem;
  width: 80%;
  margin: auto;
}

.author {
  font-size: 1rem;
  width: 75%;
  // margin: auto;
}

@media screen and (max-width: 768px) {
  .container {
    display: block;
  }
  .container {
    img {
      // margin-left: 5%;
      // max-width: 200px;
    }
  }
}
