.container {
  display: flex;
  position: relative;
  margin-top: 80px;
  &:first-of-type {
    margin-top: 20px;
  }
  img {
    opacity: 0.9;
    filter: saturate(4.5);
  }
  cursor: pointer;
}

.first-box {
  margin: auto;
}

.title {
  font-size: 5rem;
  width: 90%;
  margin: auto;
}

.date {
  font-size: 2rem;
  width: 80%;
  margin: auto;
}

.author {
  font-size: 4rem;
  width: 75%;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .container {
    display: block;
  }
  img {
    margin-left: 5%;
  }
}
