.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.img {
  width: 100%;
}

.track-list {
  margin: auto;
  border: 1px solid black;
  padding: 10px;
}

.track {
  cursor: pointer;
  margin: 6px;
  border-bottom: 1px solid black;

  &:hover {
    color: orange;
  }
}

@media screen and (max-width: 768px) {
  .container {
    grid-column-gap: 1rem;
  }
}
